<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TRANSPORTADORA.Properties.Settings.TRANSPORTADORAConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TRANSPORTADORA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TRANSPORTADORA.Properties.Settings.NOVO_TRANSPORTADORAConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NOVO_TRANSPORTADORA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>